
/* 
    Created on : Jan 29, 2018, 11:26:38 AM
    Author     : ramon
*/

#AnchorPane{
    -fx-background-color: #4d4f52;
}

#Text{
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-control-inner-background: #a0a0a0;
    -fx-background-color: #a0a0a0;
    -fx-background-radius: 0;
}

#Button{
    -fx-background-color: #1f92a2;
    -fx-background-radius: 0;
}