
/* 
    Created on : Jan 29, 2018, 11:26:38 AM
    Author     : ramon
*/

#AnchorPane{
    -fx-background-color: #f0f0f0;
}

#Text{
    -fx-text-fill: #000000;
    -fx-font-size: 20px;
    -fx-control-inner-background: #f2f2f2;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
}

#Text .content{
    -fx-background-color:#f2f2f2;
}

#SubText{
    -fx-text-fill: #111111;
    -fx-font-size: 14px;
    -fx-control-inner-background: #f2f2f2;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
}

#SubText .content{
    -fx-background-color:#f2f2f2;
}

#Button{
    -fx-background-color: #5795b8;
    -fx-background-radius: 0;
}
#Button:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
}
#WindowButton{
    -fx-background-color:#5795b8;
    -fx-background-radius: 0;
}
#WindowButton:focused{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
}
#Button:hover{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color: #5ea3cb;
    -fx-background-radius: 0;
}
